
.dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown > a {
    display: flex;
    align-items: center;
    gap: 2px;
    height: 72px;
}

.dropdown:hover .menu {
    opacity: 1;
    visibility: visible;
}

.menu > a {
    font-size: 14px;
    padding: 12px 20px;
}

.menu > a:hover {
    background: #f9f9f97c;
}

.menu {
    position: absolute;
    top: 60px;
    right: -20px;
    display: grid;
    width: 180px;
    padding: 8px 0;
    background-color: #272e3c;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    backface-visibility: hidden;
}

.menu::before {
    content: "";
    background: inherit;
    position: absolute;
    top: -7px;
    right: 22px;
    width: 12px;
    height: 12px;
    rotate: -45deg;
}